---
import '@fontsource/abhaya-libre/700.css';
---

<footer class="p-8 w-full border-t-2 border-gray-700">
	<p><b class="font-bold">My Little Pony: Friendship is Magic</b> is the intellectual property of Hasbro.</p>
	<p>
		Site created by <a href="https://jaezmien.com" class="underline underline-offset-2 text-ponish-200">
			Jaezmien Naejara
		</a>
	</p>
	<br />
	<p class="text-center font-bold">© Old Ponish Team {new Date().getFullYear()}</p>
</footer>
