---
---

<li><a class="p-4 hover:bg-white/20" href="/dictionary" rel="prefetch">Dictionary</a></li>
<li><a class="p-4 hover:bg-white/20" href="/download" rel="prefetch">Download</a></li>
<li><a class="p-4 hover:bg-white/20" href="/staff">Staff</a></li>
<li><a class="p-4 bg-[#5865F2] hover:bg-[#3D41D8]" href="/discord">Discord</a></li>
