body {
	font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
}

.lato {
	font-family: 'Lato', sans-serif;
}
.montserrat {
	font-family: 'Montserrat', sans-serif;
}

#nav-links > .active--exact {
	@apply sm:(bg-ponish-l border-ponish-l text-dark-200 pointer-events-none cursor-default);
}

.twemoji {
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
	display: inline;
}

//

.debug,
.debug * {
	outline: 1px solid green;
}
